.outlet {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: var(--accent-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}
.folder_container {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
}
.folder_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.folder_wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--primary-color);
}
.folder_wrapper label {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-transform: capitalize;
}
.empty_folder {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}
