@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #04364a;
  --secondary-color: #176b87;
  --accent-color: #64ccc5;
  --light-color: #dafffb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.2%;
}
body {
  font-family: "Poppins", sans-serif;
}
